body{
background:#0b1020;
color:white;
font-family:Arial;
margin:0;
}

.top{
background:#111a33;
padding:20px;
text-align:center;
}

.wrap{
padding:20px;
}

.card{
background:#121b38;
padding:15px;
margin-bottom:15px;
border-radius:10px;
}

button{
background:#4c7dff;
color:white;
padding:10px;
border:none;
margin-top:10px;
width:100%;
border-radius:5px;
}

input, select{
width:100%;
padding:10px;
margin-top:10px;
}
